 @model Tarif
<h1>Tarif Detayları</h1>
<main>
        <section id="tarif-details">
            <h2>Pizza Tarif</h2>
            <img src="1.jpg" alt="Pizza">
            <p>Malzemeler:</p>
            <ul>
                <li>5 su bardağı un</li>
                <li>1 paket instant maya (ya da yarım paket yaş maya)</li>
                <li>1 yemek kaşığı toz şeker</li>
                <li>Yarım yemek kaşığı tuz</li>
                <li>4 yemek kaşığı zeytinyağı</li>
                <li>2 su bardağı ılık su</li>
            </ul>
            <p>Sosu için</p>
            <ol>
                <li>2 su bardağı domates sosu</li>
                <li>2 yemek kaşığı zeytinyağı</li>
                <li>1 çay kaşığı kuru fesleğen</li>
                <li>1 çay kaşığı kekik</li>
                
            </ol>
        </section>
    </main>





