@model Tarif
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p>@Model.Id</p>
        <h4>@Model.Title</h4>
        <p>@Model.Description</p>
    </body>
</html>